
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive m-t-40">
          <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
            <div id="myTable_filter" class="dataTables_filter">
              <label
                >Search:
                <input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="myTable"
                  (keyup)="searchUser(inputSearch.value)"
                  #inputSearch
                />
              </label>
            </div>

            <table
              id="myTable"
              class="table table-bordered table-striped dataTable no-footer"
              role="grid"
              aria-describedby="myTable_info"
            >
              <thead>
                <tr role="row">
                  <th class="text-center w5">
                    <span class="font-weight-bold">Avatar</span>
                  </th>
                  <th class="text-center w40">
                    <span class="font-weight-bold">Name</span>
                  </th>
                  <th class="text-center w40">
                    <span class="font-weight-bold">Email</span>
                  </th>
                  <th class="text-center w15">
                    <span class="font-weight-bold">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let user of users">
                  <td class="text-center w5">
                    <img
                      [src]="user.imageUrl"
                      alt="Avatar of User"
                      class="img-responsive mx-auto zd-block imgtable img-circle"
                    />
                  </td>
                  <td class="text-center w40">{{ user.name }}</td>
                  <td class="text-center w40">{{ user.email }}</td>
                  <td class="text-nowrap text-center w15">
                    <a
                      *ngIf="userLogin.id !== user.id"
                      class="cursorpointer"
                      data-toggle="modal"
                      data-original-title="Delete"
                      data-target="#deleteUser-modal"
                      (click)="getUser(user)"
                    >
                      <i class="fa fa-close text-danger m-r-10"></i>
                    </a>
                    <a
                      class="cursorpointer"
                      data-toggle="modal"
                      data-target="#myModalRight"
                      data-original-title="View"
                      (click)="getUser(user)"
                    >
                      <i class="fa fa-eye text-info m-r-10"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-paginator *ngIf="!searching"
              [length]="total"     
              [(pageSize)]="dataTable.size" 
              [(pageIndex)]="dataTable.page"        
              [pageSizeOptions]="[5, 10, 20, 30, 50]"
              (page)="pageEvent($event)"            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar-->

<div
  id="deleteUser-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Deleting User</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <p>You really want to delete this user?</p>
        <p>This action will be irreversible!!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default waves-effect"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light"
          data-dismiss="modal"
          (click)="deleteUser()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 
  Modal Right
-->

<app-rightmodaluser [idModal]="'myModalRight'" [user]="user">
</app-rightmodaluser>
