<div
  [id]="idModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Deleting Peripheral Device</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <p>You really want to delete this Peripheral Device?</p>       
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default waves-effect"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light"
          data-dismiss="modal"
          (click)="deleteDevice()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>